<h1>Add a new question bank</h1>
<hr>


<form #frm="ngForm">
    <div class="row">


        <div class="col">


            <div class="form-group">
                <label for="que">New Question Bank Name</label><br><br>
                <input id="que" name="que" type="text" 
                    [(ngModel)]="ques.quebankname"
                    #que="ngModel"
                    class="form-control">
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <div>
                    <button (click)="save()">Submit</button>
                </div>
            </div>


        </div>

    </div>
</form>
