<h1>Create New Question paper</h1>
<hr>

<!-- {{paper | json}} -->

<form #frm="ngForm">
    <div class="row">


        <div class="col">


            <div class="form-group">
                <label for="pap">New Question Paper Name</label><br><br>
                <input name="pap" type="text" 
                    [(ngModel)]="paper.questionpapername"
                    #paper1="ngModel"
                    class="form-control">
                    
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <div>
                    <button [routerLink]="['/addquestionpaper', paper.questionpapername]" (click)="save()">Submit</button>
                </div>
            </div>


        </div>

    </div>
</form>

<br><br>

<button [routerLink]="['/questionpaper']">Go to Question paper list</button>
